GROQ_API_KEY = your-groq-api-key-here
HUGGINGFACEHUB_ACCESS_TOKEN =your-hugging-face-token-here
GEMINI_API_KEY =your-gemini-api-key-here

CURRENCY_EXCHANGE=https://v6.exchangerate-api.com/-your-api-key

TAVILY_API_KEY=tvly-your-api-key